# Ignora i file segreti
.env

# Ignora le cartelle dei database (non vogliamo caricare i dati reali su Git!)
postgres_data/
redis_data/

# Ignora la cartella di CAPE (è un altro repo, non va caricato qui)
cape_source/

# Ignora file temporanei Python
__pycache__/
*.pyc

# Ignora cartelle IDE (opzionale)
.vscode/
.idea/
win10.iso
VNC-Viewer-7.15.1-Windows-64bit.exe

.env
desktop.ini
blacklist.txt
whitelist.txt
phishtank*
phishing_army*
local/
myenv/
a5d85868d62f1fef46348b01205646dd78158dc6
modulo/.mitmproxy/mitmproxy-ca-cert.pem
