aiohappyeyeballs
aiohttp
aioquic
aiosignal
alembic
aniso8601
annotated-types
anyio
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
Babel
backports.tarfile
batch_deobfuscator @ git+https://github.com/DissectMalware/batch_deobfuscator@f08059955fd69864c1dc9648935f807d4403b1f2
bcrypt==3.2.2
beautifulsoup4
binary2strings
binGraph @ git+https://github.com/CAPESandbox/binGraph@acb70f7cd4decaddc5fc1ab124a0333b015f74e7
blessed
blinker
Brotli
bs4
bson
build
CacheControl
cachetools
CAPE-parsers
capstone
cart
certifi
certvalidator
cffi
channels
chardet
charset-normalizer
cleo
click
colorama
colorclass
configobj
constantly
contourpy
crashtest
crispy-bootstrap3
crispy-bootstrap4
crudini
cryptography
cxxfilt
cycler
Cython
daphne
dbus-python
deepdiff
defusedxml
deprecation
distlib
distro
Django==5.1.4
django-allauth
django-appconf
django-auth-ldap
django-bootstrap-pagination
django-crispy-forms
django-dbbackup
django-debug-toolbar
django-extensions
django-filter
django-ipware
django-libsass
django-prometheus
django-ratelimit
django-recaptcha
django-settings-export
django-timezone-field
django_compressor
django_csp
djangorestframework
dncil
dnfile
dnspython
dpkt
drf-yasg
dulwich
easygui
ecdsa
EditorConfig
exceptiongroup
fastjsonschema
filelock
findpython
flare-capa
flare-floss
Flask
Flask-RESTful
Flask-SQLAlchemy
fonttools
frozenlist
funcy
future
geoip2
gevent
gotrue
graphviz
greenlet
gunicorn
h11
h2
halo
hpack
httpcore
httplib2
HTTPReplay @ git+https://github.com/CAPESandbox/httpreplay@f2387a58562e6fb14bb2cd1811225c2823ee54e6
httptools
httpx
humanize
hyperframe
hyperlink
ida-hcli
ida-netnode
ida-settings
idapro
idna
ImageHash
importlib_metadata
incremental
inflection
iniparse
installer
intervaltree
invoke
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jeepney
Jinja2
jsbeautifier
jsonpatch
jsonpointer
jsonschema
kaitaistruct
keyring
kiwisolver
lark-parser
launchpadlib
lazr.restfulclient
lazr.uri
ldap3
libsass
libvirt-python
LnkParse3
log-symbols
lxml
maco
Mako
markdown-it-py
MarkupSafe
matplotlib
maxminddb
mdurl
mitmproxy
mitmproxy_rs
mmh3
more-itertools
mpmath
mscerts
msgpack
msgspec
msoffcrypto-tool
multidict
netifaces
netstruct
networkx==3.1
numpy<2
oauthlib
olefile
oletools
orderly-set
orjson
oscrypto
packaging
pandas
paramiko
passlib
pbs-installer
pcodedmp
pdfminer
Pebble
peepdf
peepdf-3 @ git+https://github.com/digitalsleuth/peepdf-3@ac4f612cf26327643be017e0e28a73ebea5e7e74
pefile
pendulum
pg-activity
pika
pillow
pkginfo
platformdirs
poetry
poetry-core
postgrest
prettytable
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
publicsuffix2
pyasn1
pyasn1-modules
pyasyncore
pyattck @ git+https://github.com/CAPESandbox/pyattck/@426665a962a7eddfabb248da7e5490515e5bc2a0
pyattck-data @ git+https://github.com/CAPESandbox/pyattck-data@3266a3c11a78291f7f90e3521e2b7f571c52f9a0
pycairo
pyClamd
pycparser
pycryptodome
pycryptodomex
pycurl
pydantic
pydantic_core
pydeep2
pydot
pyelftools
pygal
Pygments
PyGObject
pygraphviz
pyguacamole
PyHamcrest
PyJWT
pylsqpack
pymongo
PyNaCl
pyOpenSSL
pyparsing
pypdf
pyperclip
pyproject_hooks
pyre2
pyrsistent
pyserial
PySocks
python-dateutil
python-dotenv
python-flirt
python-ipware
python-ldap
python-magic
python-msi
python-tlsh
python-whois
pythonaes
pytz
PyWavelets
pyxlsb2
PyYAML
pyzipper
questionary
RapidFuzz
rat-king-parser
rcssmin
realtime
regex
requests
requests-file
requests-toolbelt
rich
rich-click
rjsmin
roman
ruamel.yaml
ruamel.yaml.clib
ruff
scipy
scp
SecretStorage
semantic-version
service-identity
setproctitle
SFlock
SFlock2
shellingham
six
sniffio
Socks5man @ git+https://github.com/CAPESandbox/socks5man@0fbe2956ef533f7001c3f1684250baa8b7aabb4b
sortedcontainers
soupsieve
spinners
SQLAlchemy
SQLAlchemy-Utils
sqlparse
storage3
stpyv8
StrEnum
supabase
supafunc
sympy
systemd-python
tabulate
tenacity
termcolor
tldextract
tlslite-ng
tomli
tomlkit
tornado
tqdm
trove-classifiers
Twisted
txaio
typing-inspection
typing_extensions
tzdata
ujson
unicorn
untangle
uritemplate
uritools
urlextract
urllib3
urwid
uvicorn
uvloop
virtualenv
viv_utils
vivisect
wadllib
watchfiles
wcwidth
websockets
Werkzeug
wsproto
XLMMacroDeobfuscator @ git+https://github.com/DissectMalware/XLMMacroDeobfuscator.git@43114164d89b8b3b426144f1fdfeb2ca75d28b92
xlrd2
xmltodict
yara-python
yarl
zipp
zope.event
zope.interface
zstandard